In [2]:
print("test")

test

In [3]:
import pandas as pd

In [4]:
pd

In [5]:
a = [45, 26, 44, 12]

In [8]:
s = pd.Series(a)

In [10]:
s[1]

26

In [11]:
pd.Series(range(10,100,10))

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [13]:
s = ["hello", "wordld"]
r = pd.Series(s, ["привет", "мир"])

In [15]:
r["мир"]

'wordld'

In [16]:
d = {"привет": "poka", "leonela": "messi", "я": "русский"}

In [18]:
r = pd.Series(d)
print(r)

привет        poka
leonela      messi
я          русский
dtype: object

In [19]:
pd.Series(list("word"))

0    w
1    o
2    r
3    d
dtype: object

#### Действия над Series

In [21]:
a = [45, 26, 44, 12, 99, 1]
data = pd.Series(a)
data

0    45
1    26
2    44
3    12
4    99
5     1
dtype: int64

In [24]:
data = data + 2
data

0     51
1     32
2     50
3     18
4    105
5      7
dtype: int64

In [25]:
data // 2

0    25
1    16
2    25
3     9
4    52
5     3
dtype: int64

In [26]:
data > 25

0     True
1     True
2     True
3    False
4     True
5    False
dtype: bool

In [32]:
print(data)
max(data)
min(data)
sorted(data)
sum(data)

0     51
1     32
2     50
3     18
4    105
5      7
dtype: int64

263

In [34]:
b = ["hello", "wordld", "hi"]
s = pd.Series(b)
s

0     hello
1    wordld
2        hi
dtype: object

In [35]:
s + " abc"

0     hello abc
1    wordld abc
2        hi abc
dtype: object

In [37]:
len(s)

3

In [50]:
names = ["bob", "jack", "kevin", "robin"]
letters = "b", "j", "k", "r"
numbers = [10, 20, 30, 40, 50]
letters

('b', 'j', 'k', 'r')

In [51]:
s = pd.Series(names)
nums = pd.Series(numbers)
s_letters = pd.Series(names, index=letters)
nums

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [42]:
s.values

array(['bob', 'jack', 'kevin', 'robin'], dtype=object)

In [44]:
nums.index

RangeIndex(start=0, stop=5, step=1)

In [54]:
s_letters.values

array(['bob', 'jack', 'kevin', 'robin'], dtype=object)

In [55]:
s_letters.size

4

#### Методы класса Series (похоже на def)

In [59]:
names = ["bob", "jack", "kevin", "robin"]
numbers = [10, -20, 30, 40, -50]
s = pd.Series(names)
nums = pd.Series(numbers)

In [60]:
s.values

array(['bob', 'jack', 'kevin', 'robin'], dtype=object)

In [61]:
nums.sum()

10

In [62]:
nums.max()

40

In [64]:
nums.product()
# умножение

12000000

In [65]:
s.sum()

'bobjackkevinrobin'

In [67]:
nums.lt(2)
# сравнить > 2

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [68]:
nums.abs()

0    10
1    20
2    30
3    40
4    50
dtype: int64

#### Методы head(), tail(), take() класса Series

In [69]:
from random import randint

In [70]:
numbers = [randint(-50,50) for i in range(100)]

In [71]:
s = pd.Series(numbers)

In [72]:
s

0    -46
1    -28
2     19
3     25
4     46
      ..
95   -12
96   -23
97    17
98    -3
99   -10
Length: 100, dtype: int64

In [77]:
s.head(n = 3)

0   -46
1   -28
2    19
dtype: int64

In [78]:
s.tail(n = 3)

97    17
98    -3
99   -10
dtype: int64

In [80]:
s.take([7,59,99])

7     34
59    13
99   -10
dtype: int64

In [81]:
s.take(range(40, 51))

40    -9
41    25
42   -15
43    13
44    31
45    27
46    41
47    28
48   -31
49    34
50    44
dtype: int64

In [83]:
s.take(range(40, 51, 3))
# 3 отвечает за шаг, то есть через каждые 3 элеента

40    -9
43    13
46    41
49    34
dtype: int64

#### Срез объекта Series

In [88]:
s[40:51]

40    -9
41    25
42   -15
43    13
44    31
45    27
46    41
47    28
48   -31
49    34
50    44
dtype: int64

In [89]:
s[40:51:3]

40    -9
43    13
46    41
49    34
dtype: int64

In [90]:
s[51:40:-1]

51   -16
50    44
49    34
48   -31
47    28
46    41
45    27
44    31
43    13
42   -15
41    25
dtype: int64

In [94]:
from random import shuffle
from string import ascii_lowercase

In [101]:
numbers = [randint(-50,50) for i in range(26)]

In [102]:
s = pd.Series(numbers)
letters = pd.Series(numbers, ind)
ind = list(ascii_lowercase)
letters

a    22
b   -43
c   -31
d     4
e    38
f   -13
g   -45
h     4
i   -28
j    49
k   -23
l    11
m   -15
n    17
o   -18
p    18
q    13
r   -48
s   -42
t    11
u    21
v     6
w    31
x   -17
y   -15
z    -2
dtype: int64

In [104]:
letters["a":"f"]

a    22
b   -43
c   -31
d     4
e    38
f   -13
dtype: int64

In [105]:
letters["f":"a":-1]

f   -13
e    38
d     4
c   -31
b   -43
a    22
dtype: int64

In [106]:
shuffle(ind)
letters = pd.Series(numbers, ind)

In [107]:
letters
# всё в рандомном порядке

v    22
m   -43
w   -31
s     4
l    38
f   -13
g   -45
u     4
d   -28
x    49
r   -23
h    11
c   -15
a    17
t   -18
p    18
b    13
e   -48
i   -42
q    11
k    21
j     6
o    31
n   -17
z   -15
y    -2
dtype: int64

In [109]:
letters["c":"b"]

c   -15
a    17
t   -18
p    18
b    13
dtype: int64

### DataFrame

In [111]:
data = [[4, 5, 6], [ 8, 1, 15], [90, 13, 34]]
df = pd.DataFrame(data)
df

    0   1   2
0   4   5   6
1   8   1  15
2  90  13  34

In [113]:
df = pd.DataFrame(data, index= ["a", "b", "c"], columns=["x", "y", "z"])
df

    x   y   z
a   4   5   6
b   8   1  15
c  90  13  34

In [127]:
df.to_string(index=False)
print(df.to_string(index=False))

 x  y  z
 4  5  6
 8  1 15
90 13 34