## Практическое занятие по теме 4

<div class="alert alert-block alert-success">
</b> ФИО, группа: </b>Мельников Дмитрий ГСБО-01-20
</div>

### Ответьте на следующие вопросы:

### Часть 1. Группировка данных

Для выполнения заданий Части 1 необходимо скачать датасет по [следующей сслыке](https://drive.google.com/file/d/1tlzluQXpOlr6uEpluGeS-H4n95sxw7c7/view?usp=sharing), установить необходимые библиотеки и загрузить датасет в Ноутбук

In [3]:
import pandas as pd
dbf=pd.read_csv('C:/Users/DmMelnikov/Downloads/data_sf.csv')

In [4]:
dbf

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

<div class="alert alert-block alert-warning">
<b> 1. Какой из столбцов содержит информацию о стране происхождения футболиста?</b>
</div>

In [ ]:
Nationality

<div class="alert alert-block alert-warning">
<b> 2. Сколько футбольных клубов представлено в датасете?</b>
</div>

In [12]:
a=dbf['Club'].value_counts()
a

Shonan Bellmare      30
V-Varen Nagasaki     30
Vissel Kobe          29
De Graafschap        29
FC Emmen             29
                     ..
Cruzeiro              8
GD Chaves             7
Vitória Guimarães     7
Dinamo Zagreb         7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [ ]:
Length: 650

<div class="alert alert-block alert-warning">
<b>3. Найдите 3 футбольных клуба с наибольшим количеством игроков.</b>
</div>

In [14]:
a=dbf['Club'].value_counts()
a.head(3)

Shonan Bellmare     30
V-Varen Nagasaki    30
Vissel Kobe         29
Name: Club, dtype: int64

In [ ]:
Shonan Bellmare     30
V-Varen Nagasaki    30
Vissel Kobe         29

<div class="alert alert-block alert-warning">
<b>4. Как называется футбольный клуб, представленный наименьшим количеством игроков в датасете? Данные о скольких игроках этого клуба имеются в датасете?</b>
</div>

In [17]:
a=dbf['Club'].value_counts()
a.tail(1)

Atlético Mineiro    6
Name: Club, dtype: int64

In [ ]:
Atlético Mineiro    6

<div class="alert alert-block alert-warning">
<b> 5. Данные об игроках каких позиций (Position) занимают более 10% датасета?</b>
</div>

In [20]:
a=dbf['Position'].value_counts(normalize=True)
a[a>0.10]

GK    0.127239
ST    0.117237
CB    0.108785
Name: Position, dtype: float64

In [ ]:
GK    0.127239
ST    0.117237
CB    0.108785

<div class="alert alert-block alert-warning">
<b>6. Данные об игроках каких позиций (Position) занимают менее 1% датасета?</b>
</div>

In [22]:
a=dbf['Position'].value_counts(normalize=True)
a[a<0.01]

LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

In [ ]:
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388

<div class="alert alert-block alert-warning">
<b>7. В каких пределах находятся худшие 20% показателей точности ударов ногой (FKAccuracy)?</b>
</div>

In [23]:
a=dbf['FKAccuracy'].value_counts(bins=5)
a.tail(1)

(75.8, 94.0]    213
Name: FKAccuracy, dtype: int64

In [ ]:
(75.8, 94.0]

<div class="alert alert-block alert-warning">
<b>8. Какие показатели точности ударов ногой демонстрирует большинство футболистов?</b>
</div>

In [24]:
a=dbf['FKAccuracy'].value_counts(bins=2)
a

(2.908, 48.5]    9053
(48.5, 94.0]     3844
Name: FKAccuracy, dtype: int64

In [ ]:
(2.908, 48.5]

<div class="alert alert-block alert-warning">
<b>9.Определите количество видов позиций (Position), которые занимают игроки. Запишите результат в переменную result</b>
</div>

In [32]:
dbf['Position'].nunique()

27

<div class="alert alert-block alert-warning">
<b>10. У какого процента испанских специалистов (Nationality = 'Spain') зарплата (Wage) находится в пределах 25% минимума от наблюдаемого уровня зарплат? Ответ дайте в виде целого числа (округлите полученный результат) без знака %. Решите с использованием value_counts</b>
</div>

In [33]:
a=dbf[dbf['Nationality']=='Spain']['Wage'].value_counts(bins=4,normalize=True)
a.head(1)

(620.999, 95750.0]    0.970194
Name: Wage, dtype: float64

In [ ]:
Ответ 97

<div class="alert alert-block alert-warning">
<b>11. Укажите количество уникальных сборных (Nationality), к которым относятся футболисты, выступающие за клуб (Club) "Manchester United".</b>
</div>

In [35]:
a=dbf[dbf['Club']=='Manchester United']['Nationality']
a.nunique()

13

<div class="alert alert-block alert-warning">
<b>12. С помощью функции unique определите двух футболистов из Бразилии (Nationality = 'Brazil'), выступающих за клуб (Club) 'Juventus'. Перечислите их имена (Name, как в датафрейме) через запятую в алфавитном порядке</b>
</div>

In [41]:
a=dbf[(dbf['Nationality']=='Brazil')&(dbf['Club']=='Juventus')]
b = a['Name']
b.values.tolist()
print(*b)

Alex Sandro Douglas Costa

<div class="alert alert-block alert-warning">
<b>13. Какой из клубов (Club) насчитывает большее количество футболистов возрастом (Age) старше 35 лет.</b>
</div>

In [52]:
a=dbf[(dbf['Age']>35)]["Club"]
a.value_counts().head(1)

Club Atlético Huracán    4
Name: Club, dtype: int64

In [ ]:
Atlético Huracán    4

<div class="alert alert-block alert-warning">
<b>14. С помощью функции value_counts с параметром bins разбейте всех футболистов сборной (Nationality) Аргентины ('Argentina') на 4 равные группы. Укажите, сколько футболистов в возрасте от 34.75 до 41 года в сборной Аргентины.</b>
</div>

In [54]:
a = dbf[dbf['Nationality']=='Argentina']
b =a['Age'].value_counts(bins=4)
b.tail(1)

(34.75, 41.0]    49
Name: Age, dtype: int64

In [ ]:
49

<div class="alert alert-block alert-warning">
<b>15. Сколько процентов футболистов из Испании (Nationality = 'Spain') имеют возраст (Age) 21 год? Введите с точностью до 2 знаков после запятой без указания знака % (например, 12.35).</b>
</div>

In [8]:
a = dbf[dbf['Nationality']=='Spain']
b = a['Age'].value_counts(normalize=True).head(1)
round(b*100,2)

21    11.77
Name: Age, dtype: float64

In [6]:
import pandas as pd
dbf=pd.read_csv('C:/Users/DmMelnikov/Downloads/data_sf.csv')

In [ ]:
11.77

<div class="alert alert-block alert-warning">
<b>16. Найдите позиции (Position), по которым общая сумма зарплат (Wage) игроков превышает 5 млн евро в год.</b>
</div>

In [7]:
pw=dbf.groupby(['Position'])['Wage'].sum()
print(*(pw[pw>5000].index),sep=', ')

CAM, CB, CDM, CF, CM, GK, LAM, LB, LCB, LCM, LDM, LF, LM, LS, LW, LWB, RAM, RB, RCB, RCM, RDM, RF, RM, RS, RW, RWB, ST

<div class="alert alert-block alert-warning">
<b>17. Посчитайте среднюю зарплату (Wage) и цену (Value) игроков разных позиций (Position). Представители какой позиции имеют самую высокую среднюю цену?</b>
</div>

In [9]:
dbf.groupby('Position').agg({'Wage':['mean'],
                            'Value':['mean']})['Value']['mean'].sort_values(ascending=False).head()

Position
LF     2.736250e+07
RF     2.636583e+07
LAM    1.324583e+07
RAM    8.345000e+06
LS     5.848430e+06
Name: mean, dtype: float64

Ответ: LF

<div class="alert alert-block alert-warning">
<b>18. Посчитайте среднюю (mean) и медианную (median) зарплату (Wage) футболистов из разных клубов (Club). В скольких клубах средняя и медианная зарплаты совпадают?</b>
</div>

In [11]:
wa_mm=dbf.groupby('Club').agg({'Wage':['mean','median']})
s=wa_mm['Wage']
s1=s[s['mean']==s['median']]
print('Средняя и медианная зарплаты совпадают в',len(s1),'клубах')

Средняя и медианная зарплаты совпадают в 52 клубах

<div class="alert alert-block alert-warning">
<b>19. Продолжаем работать с клубами, в которых средняя зарплата совпадает с медианной. Каков максимальный размер средней зарплаты в этой группе клубов?</b>
</div>

In [12]:
s1['mean'].max()

13000.0

<div class="alert alert-block alert-warning">
<b>20. Как называется клуб, где игроки получают такую зарплату?</b>
</div>

In [13]:
print(*s1[s1['mean']==s1['mean'].max()].index)

Cruzeiro

<div class="alert alert-block alert-warning">
<b>21. С помощью функции groupby посчитайте сумму зарплат (Wage) футболистов клуба (Club) "Chelsea".</b>
</div>

In [15]:
dbf.groupby(['Club'])['Wage'].sum()['Chelsea']

2035000

<div class="alert alert-block alert-warning">
<b>22. Определите максимальную зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 20 лет.</b>
</div>

In [17]:
print(*dbf[(dbf['Nationality']=='Argentina')&(dbf['Age']==20)].sort_values(by='Wage',ascending=False).head(1)['Wage'])

54000

<div class="alert alert-block alert-warning">
<b>23. Определите минимальную зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 30 лет.</b>
</div>

In [18]:
print(*dbf[(dbf['Nationality']=='Argentina')&(dbf['Age']==30)].sort_values(by='Wage').head(1)['Wage'])

1000

<div class="alert alert-block alert-warning">
<b>24. Определите максимальную силу (Strength) и баланс (Balance) среди игроков клуба (Club) "FC Barcelona" из Аргентины ("Argentina"). Ответ введите через точку с запятой без пробела.</b>
</div>

In [19]:
s=dbf[(dbf['Club']=='FC Barcelona')&(dbf['Nationality']=='Argentina')][['Strength','Balance']].max().values.tolist()
print(*s, sep=',')

59,95

<div class="alert alert-block alert-warning">
<b>25. Постройте сводную таблицу, показывающую максимальные зарплаты игроков на разных позициях, играющих за разные клубы,</b>
</div>

In [20]:
pd.pivot_table(dbf,values=['Wage'],columns=['Position'],index=['Club'],aggfunc=max)

                          Wage                                                 \
Position                   CAM       CB      CDM      CF      CM       GK LAM
Club
 SSV Jahn Regensburg       NaN   5000.0   5000.0     NaN  4000.0   5000.0 NaN
1. FC Heidenheim 1846   5000.0   7000.0      NaN     NaN  1000.0   4000.0 NaN
1. FC Kaiserslautern       NaN   1000.0   1000.0     NaN     NaN   1000.0 NaN
1. FC Köln                 NaN   1000.0  10000.0     NaN  3000.0  25000.0 NaN
1. FC Magdeburg            NaN   7000.0      NaN  4000.0     NaN   6000.0 NaN
...                        ...      ...      ...     ...     ...      ...  ..
Zagłębie Sosnowiec      2000.0   1000.0   1000.0     NaN     NaN   1000.0 NaN
Çaykur Rizespor        11000.0  11000.0  13000.0     NaN     NaN   3000.0 NaN
Örebro SK                  NaN   2000.0      NaN     NaN  1000.0   2000.0 NaN
Östersunds FK           1000.0   1000.0      NaN  3000.0  8000.0   1000.0 NaN
Śląsk Wrocław              NaN   1000.0   3000.0     NaN  1000.0   2000.0 NaN

                                               ...                          \
Position                   LB     LCB     LCM  ...      RB     RCB     RCM
Club                                           ...
 SSV Jahn Regensburg   6000.0     NaN     NaN  ...  4000.0  8000.0     NaN
1. FC Heidenheim 1846  6000.0  6000.0     NaN  ...  6000.0  3000.0     NaN
1. FC Kaiserslautern   2000.0  2000.0     NaN  ...  2000.0     NaN     NaN
1. FC Köln                NaN     NaN     NaN  ...  5000.0     NaN     NaN
1. FC Magdeburg        2000.0  5000.0  4000.0  ...     NaN  3000.0  3000.0
...                       ...     ...     ...  ...     ...     ...     ...
Zagłębie Sosnowiec     1000.0  1000.0     NaN  ...  1000.0  1000.0     NaN
Çaykur Rizespor        7000.0  4000.0     NaN  ...  6000.0     NaN     NaN
Örebro SK                 NaN  2000.0  2000.0  ...     NaN  2000.0  2000.0
Östersunds FK          2000.0  3000.0  5000.0  ...  1000.0  1000.0     NaN
Śląsk Wrocław          3000.0  2000.0     NaN  ...  2000.0  4000.0     NaN


Position                   RDM  RF       RM      RS      RW     RWB      ST
Club
 SSV Jahn Regensburg    5000.0 NaN      NaN     NaN     NaN     NaN  3000.0
1. FC Heidenheim 1846      NaN NaN   3000.0     NaN     NaN     NaN  4000.0
1. FC Kaiserslautern    2000.0 NaN   2000.0  2000.0     NaN     NaN  1000.0
1. FC Köln                 NaN NaN  18000.0     NaN     NaN     NaN     NaN
1. FC Magdeburg            NaN NaN   5000.0  8000.0  4000.0     NaN  1000.0
...                        ...  ..      ...     ...     ...     ...     ...
Zagłębie Sosnowiec      1000.0 NaN   1000.0     NaN     NaN     NaN  2000.0
Çaykur Rizespor        10000.0 NaN  12000.0     NaN     NaN     NaN  2000.0
Örebro SK                  NaN NaN      NaN     NaN  2000.0  1000.0  2000.0
Östersunds FK              NaN NaN   2000.0     NaN  1000.0     NaN  1000.0
Śląsk Wrocław           3000.0 NaN   3000.0  4000.0     NaN     NaN  1000.0

[650 rows x 27 columns]

<div class="alert alert-block alert-warning">
<b>26. Создайте сводную таблицу, содержащую сведения о количестве игроков, занимающих разные позиции в каждом клубе. Отсутствующие значения замените нулями.</b>
</div>

In [22]:
a = pd.pivot_table(dbf,values=['Name'],columns=['Position'],index=['Club'],aggfunc='count',fill_value=0,margins=True)
a

                      Name                                                 \
Position               CAM    CB  CDM  CF    CM    GK LAM    LB  LCB  LCM
Club
 SSV Jahn Regensburg     0     5    1   0     2     3   0     2    0    0
1. FC Heidenheim 1846    1     3    0   0     1     2   0     2    1    0
1. FC Kaiserslautern     0     3    3   0     0     3   0     2    1    0
1. FC Köln               0     1    1   0     2     3   0     0    0    0
1. FC Magdeburg          0     4    0   1     0     3   0     1    1    1
...                    ...   ...  ...  ..   ...   ...  ..   ...  ...  ...
Çaykur Rizespor          1     2    5   0     0     3   0     2    1    0
Örebro SK                0     4    0   0     1     3   0     0    1    1
Östersunds FK            1     1    0   1     3     3   0     2    1    1
Śląsk Wrocław            0     1    3   0     1     3   0     2    1    0
All                    633  1403  691  51  1067  1641   6  1002  409  233

                       ...
Position               ...  RCB  RCM  RDM RF   RM   RS   RW RWB    ST    All
Club                   ...
 SSV Jahn Regensburg   ...    1    0    1  0    0    0    0   0     3     24
1. FC Heidenheim 1846  ...    1    0    0  0    3    0    0   0     2     20
1. FC Kaiserslautern   ...    0    0    1  0    2    1    0   0     1     23
1. FC Köln             ...    0    0    0  0    1    0    0   0     0     10
1. FC Magdeburg        ...    1    1    0  0    3    1    2   0     1     21
...                    ...  ...  ...  ... ..  ...  ...  ...  ..   ...    ...
Çaykur Rizespor        ...    0    0    1  0    1    0    0   0     1     22
Örebro SK              ...    1    1    0  0    0    0    2   2     5     26
Östersunds FK          ...    1    0    0  0    1    0    1   0     1     20
Śląsk Wrocław          ...    1    0    1  0    2    1    0   0     2     24
All                    ...  418  240  138  6  766  114  237  70  1512  12897

[651 rows x 28 columns]

<div class="alert alert-block alert-warning">
<b>27. Используя таблицу, созданную на предыдущем шаге, определите, сколько клубов не содержат данных о центральных полузащитниках.</b>
</div>

In [24]:
cm=a['Name']['CM'].value_counts()
cm[0]

136

<div class="alert alert-block alert-warning">
<b>28. С помощью сводной таблицы и функции loc посчитайте, сколько получают ("Wage") русские футболисты ("Russia"), играющие за ФК "AS Monaco".</b>
</div>

In [25]:
b=dbf.pivot_table(values='Wage',index='Nationality',columns='Club',aggfunc='mean',margins=False,dropna=True)
b['AS Monaco']['Russia']

61000.0

<div class="alert alert-block alert-warning">
<b>29. Создайте сводную таблицу, содержащую сведения о средней скорости футболистов, занимающих разные позиции (Position) в разных футбольных клубах (Club).</b>
</div>

In [26]:
dbf.pivot_table(values='SprintSpeed',index='Club',columns='Position',aggfunc='mean',margins=True,fill_value=0)

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST,All
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,0.000000,46.600000,82.000000,0.000000,61.000000,33.000000,0.000000,76.000000,0.00000,0.000000,...,57.000000,0.000000,65.000000,0.000000,0.000000,0.000000,0.000000,0.000000,61.666667,59.041667
1. FC Heidenheim 1846,68.000000,61.333333,0.000000,0.000000,68.000000,41.000000,0.000000,60.000000,55.00000,0.000000,...,59.000000,0.000000,0.000000,0.000000,78.333333,0.000000,0.000000,0.000000,69.000000,65.450000
1. FC Kaiserslautern,0.000000,59.000000,65.666667,0.000000,0.000000,42.666667,0.000000,68.000000,45.00000,0.000000,...,0.000000,0.000000,55.000000,0.000000,82.500000,69.000000,0.000000,0.000000,79.000000,65.217391
1. FC Köln,0.000000,60.000000,32.000000,0.000000,68.500000,33.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,77.000000,0.000000,0.000000,0.000000,0.000000,55.200000
1. FC Magdeburg,0.000000,60.000000,0.000000,64.000000,0.000000,39.333333,0.000000,69.000000,60.00000,66.000000,...,68.000000,71.000000,0.000000,0.000000,76.000000,53.000000,80.500000,0.000000,44.000000,63.238095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Çaykur Rizespor,74.000000,58.000000,62.800000,0.000000,0.000000,47.000000,0.000000,75.500000,63.00000,0.000000,...,0.000000,0.000000,32.000000,0.000000,85.000000,0.000000,0.000000,0.000000,48.000000,61.318182
Örebro SK,0.000000,60.750000,0.000000,0.000000,63.000000,33.666667,0.000000,0.000000,58.00000,44.000000,...,62.000000,66.000000,0.000000,0.000000,0.000000,0.000000,77.500000,72.000000,72.200000,63.000000
Östersunds FK,67.000000,76.000000,0.000000,77.000000,56.333333,32.666667,0.000000,74.500000,53.00000,62.000000,...,73.000000,0.000000,0.000000,0.000000,85.000000,0.000000,67.000000,0.000000,52.000000,61.450000
Śląsk Wrocław,0.000000,62.000000,66.666667,0.000000,72.000000,30.666667,0.000000,78.500000,59.00000,0.000000,...,58.000000,0.000000,69.000000,0.000000,68.000000,81.000000,0.000000,0.000000,54.000000,60.583333
All,68.236967,57.734854,60.813314,69.803922,64.299906,37.622182,76.333333,70.718563,58.93643,65.334764,...,58.239234,65.233333,62.152174,76.333333,74.943864,71.991228,75.417722,73.128571,68.700397,63.205629

### Часть 2. Объединение данных

Для выполнения заданий Части 2 необходимо скачать [датасет 1](https://drive.google.com/file/d/1pXuqe_ROwG2Tj8zLfLggrX8_NGpQX19B/view?usp=sharing) и [датасет 2](https://drive.google.com/file/d/1MNx4Cc4weshxpinyXMubODLV-TXzbsMO/view?usp=sharing), установить необходимые библиотеки и загрузить датасет в Ноутбук

In [34]:
m=pd.read_csv('C:/Users/DmMelnikov/Downloads/movies.csv')
r=pd.read_csv('C:/Users/DmMelnikov/Downloads/ratings.csv')
m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [35]:
r

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

<div class="alert alert-block alert-warning">
<b>1. Сколько строк в файле рейтингов (подсказка: количество непустых значений соответствует количеству строк)?</b>
</div>

In [33]:
len(r)

100836

<div class="alert alert-block alert-warning">
<b>2. Какое количество жанров имеют фильмы в датасете movies?</b>
</div>

In [36]:
m['genres'].nunique()

951

<div class="alert alert-block alert-warning">
<b>3. Какое минимальное значение принимает выставленная оценка в датасете ratings?</b>
</div>

In [37]:
r['rating'].min()

0.5

<div class="alert alert-block alert-warning">
<b>4. Какое максимальное значение принимает выставленная оценка в датасете ratings?</b>
</div>

In [38]:
r['rating'].max()

5.0

<div class="alert alert-block alert-warning">
<b>5. Сколько фильмов в таблице movies?</b>
</div>

In [39]:
m['title'].nunique()

9737

<div class="alert alert-block alert-warning">
<b>6. Объедините датасеты movies и raitings так, чтобы не потерялся ни один фильм</b>
</div>

In [42]:
a=r.merge(r,on='movieId', how='outer')
a

,userId_x,movieId,rating_x,timestamp_x,userId_y,rating_y,timestamp_y
0,1,1,4.0,964982703,1,4.0,964982703
1,1,1,4.0,964982703,5,4.0,847434962
2,1,1,4.0,964982703,7,4.5,1106635946
3,1,1,4.0,964982703,15,2.5,1510577970
4,1,1,4.0,964982703,17,4.5,1305696483
...,...,...,...,...,...,...,...
5924695,610,160341,2.5,1479545749,610,2.5,1479545749
5924696,610,160527,4.5,1479544998,610,4.5,1479544998
5924697,610,160836,3.0,1493844794,610,3.0,1493844794
5924698,610,163937,3.5,1493848789,610,3.5,1493848789
5924699,610,163981,3.5,1493850155,610,3.5,1493850155

<div class="alert alert-block alert-warning">
<b>7. Сколько фильмов в таблице movies?</b>
</div>

In [43]:
a['title'].nunique()

KeyError: 'title'

В словаре items_dict (который мы переведем в датафрейм) содержится информация о наличии товара на складе:

items_dict = {

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 

    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],

    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]}
    
А в словаре purchase_log — данные о покупках товаров:

purchase_log = {

    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 

    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]}

Подробная информация о данных:

* item_id — идентификатор модели (по этому столбцу будем объединять датафреймы)
* vendor — производитель модели
* stock_count — имеющееся на складе количество данных моделей (в штуках)
* purchase_id — идентификатор покупки
* price — стоимость модели в покупке

<div class="alert alert-block alert-warning">
<b>8. Привидите эти словари в датафреймы для последующей работы</b>
</div>

In [45]:
x=pd.DataFrame({
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 
'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]})

y=pd.DataFrame({
'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 
'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]})

In [46]:
x

   item_id   vendor  stock_count
0   417283  Samsung           54
1   849734       LG           33
2   132223    Apple          122
3   573943    Apple           18
4    19475       LG          102
5  3294095    Apple           43
6   382043  Samsung           77
7   302948  Samsung          143
8   100132       LG           60
9   312394      ZTE           19

<div class="alert alert-block alert-warning">
<b>9. Объедините получившиеся датафреймы по столбцу item_id с типом outer.</b>
</div>

In [47]:
z=x.merge(y,on='item_id',how='outer')
z

    item_id   vendor  stock_count  purchase_id    price
0    417283  Samsung         54.0        101.0  13900.0
1    849734       LG         33.0        101.0   5330.0
2    132223    Apple        122.0        101.0  38200.0
3    573943    Apple         18.0        112.0  49990.0
4     19475       LG        102.0        121.0   9890.0
5   3294095    Apple         43.0        145.0  33000.0
6    382043  Samsung         77.0        145.0  67500.0
7    302948  Samsung        143.0        145.0  34500.0
8    100132       LG         60.0        221.0  11400.0
9    312394      ZTE         19.0          NaN      NaN
10   103845      NaN          NaN        145.0  89900.0

<div class="alert alert-block alert-warning">
<b>10. Определите, модель с каким item_id есть в статистике продаж purchase_df, но не учтена на складе (подсказка: подумайте, какой датафрейм должен быть "левым", а какой "правым", чтобы получить необходимые данные)</b>
</div>

In [48]:
103845

103845

<div class="alert alert-block alert-warning">
<b>11. модель с каким item_id есть на складе, но не имела ни одной продажи?</b>
</div>

In [49]:
312394

312394

<div class="alert alert-block alert-warning">
<b>12. Сформируйте датафрейм, в котором в результате объединения purchase_df и items_df останутся модели, которые учтены на складе и имели продажи. Сколько всего таких моделей?</b>
</div>

In [50]:
j=x.merge(y,on='item_id',how='inner')

In [51]:
j

   item_id   vendor  stock_count  purchase_id  price
0   417283  Samsung           54          101  13900
1   849734       LG           33          101   5330
2   132223    Apple          122          101  38200
3   573943    Apple           18          112  49990
4    19475       LG          102          121   9890
5  3294095    Apple           43          145  33000
6   382043  Samsung           77          145  67500
7   302948  Samsung          143          145  34500
8   100132       LG           60          221  11400

<div class="alert alert-block alert-warning">
<b>13. Посчитайте объем выручки для каждой модели, которую можно получить, распродав все остатки на складе. Модель с каким item_id имеет максимальное значение выручки после распродажи остатков? </b>
</div>

In [52]:
j['total']=j['stock_count']*j['price']
j

   item_id   vendor  stock_count  purchase_id  price    total
0   417283  Samsung           54          101  13900   750600
1   849734       LG           33          101   5330   175890
2   132223    Apple          122          101  38200  4660400
3   573943    Apple           18          112  49990   899820
4    19475       LG          102          121   9890  1008780
5  3294095    Apple           43          145  33000  1419000
6   382043  Samsung           77          145  67500  5197500
7   302948  Samsung          143          145  34500  4933500
8   100132       LG           60          221  11400   684000

<div class="alert alert-block alert-warning">
<b>14. Посчитайте итоговую выручку из прошлого задания по всем моделям </b>
</div>

In [53]:
j.groupby('item_id')['total'].sum().sum()

19729490

__Итоговый ноутбук необходимо прикрепить в ЛКС к заданию. Необходимо, чтобы ноутбук выполнялся дним запуском без ошибок__